* {
  padding: 0;
  margin: 0;
}

.conteudo-principal {
  height: 98vh;
}

.titulo {
  color: rgb(7, 7, 7);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  margin-top: 70px;
  margin-left: 42.2%;
  display: inline-block;
}

.titulo::before {
  content: "";
  width: 300px;
  height: 4px;
  background-color: #eb47d5;
  position: absolute;
  top: 35px;
  left: 2px;
  animation-name: brilho;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
}

@keyframes brilho {
  from {
    background-color: #eb47d5;
    width: 0px;
  }
  to {
    background-color: #000000;
    width: 300px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(49, 95, 28);
}

#container {
  background-color: plum;
  width: 260px;
  height: 310px;
  margin: auto;
  margin-top: 30px;
  border-radius: 8px;
}

#display {
  border: 1px solid black;
  color: rgb(219, 219, 219);
  background-color: black;
  width: 95.5%;
  text-align: right;
  float: right;
  margin-top: 20px;
  padding: 8px 2px 8px 8px;
  display: block;
  height: 15px;
}

li {
  list-style: none;
}

.botoes li {
  width: 50px;
  height: 30px;
  background-color: aquamarine;
  color: rgb(219, 23, 23);
  float: left;
  text-align: center;
  padding-top: 10px;
  margin: 5px 2px 5px 10px;
  cursor: pointer;
}

li:hover {
  background-color: rgb(28, 173, 125);
}

.verificar {
  width: 66% !important;
}

footer {
  text-align: center;
  letter-spacing: 5px;
  color: rgba(223, 217, 217, 0.267);
}
